{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <h1>Diagnoses</h1>
    </div>
    <span>
        <h5>Review your diagnoses and heed your doctor's instructions</h5>
    </span>
    <div>


    </div>

</main>



{% endblock %}