{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <h1>Diagnostics</h1>
    </div>
    <span>
        {% if is_granted("ROLE_PATIENT") %}
        <h5>Review your diagnostics and heed your doctor's instructions</h5>
        {% endif %}
        {% if is_granted("ROLE_DOCTOR") %}
        <h5>All your patients' diagnostics</h5>
        {% endif %}
    </span>
    <div>


    </div>

</main>



{% endblock %}