{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <span>
            {% if is_granted("ROLE_PATIENT") %}
            <h1>Wellcome {{app.user.name}}</h1>
            {% endif %}
            {% if is_granted("ROLE_DOCTOR") %}
            <h1>Wellcome back Dr. {{app.user.surname}}</h1>
            {% endif %}
        </span> {% if is_granted("ROLE_PATIENT") %}
        <h3>We hope everything is going well!</h3>
        <h3>Anyway here we are for you 😉</h3>
        {% endif %} {% if is_granted("ROLE_DOCTOR") %}
        <h3>Thank you for another day working for HealthPlace</h3>
        {% endif %}

    </div>
    <div>
        <h6>This are your appointments for today</h6>

        <h5>You don't have any appointment today</h5>
        <h6>Upcoming appointments</h6>

    </div>

</main>



{% endblock %}