{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <span>
            <h1>Wellcome {{app.user.name}}</h1>
        </span>
        <h2>We hope everything is going well!</h2>
        <h2>Anyway here we are for you 😉</h2>

    </div>
    <div>
        <h3>This are your appointments for today</h3>

        <h3>You don't have any appointment today</h3>
        <h4>Upcoming appointments</h4>

    </div>

</main>



{% endblock %}