{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <h1>APPOINTMENTS</h1>
        <a href="{{ path(" createAppoPatient ") }}">Make an appointment</a>
    </div>
    <div>
        <a href="{{ path(" upcomingAppo ") }}"><button>Upcoming</button></a>
        <a href="{{ path(" previousAppo ") }}"><button>Previous</button></a>
    </div>
    <div>


    </div>

</main>



{% endblock %}