{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <h1>APPOINTMENTS</h1>
        <a href="#">Make an appointment</a>
    </div>
    <div>
        <a href="#"><button>Upcoming</button></a>
        <a href="#"><button>Previous</button></a>
    </div>
    <div>


    </div>

</main>



{% endblock %}